@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        @apply m-0 box-border p-0;
    }
}

@layer components {
    svg {
        @apply h-8 w-8;
    }

    .nav {
        @apply mx-auto mt-2 flex w-fit overflow-hidden rounded-full shadow-lg;
    }

    .nav a {
        @apply flex items-center gap-1 px-3 py-3 font-medium;
    }

    .nav a.active,
    .nav a:hover {
        @apply bg-slate-900 text-white;
    }

    .btn {
        @apply rounded-full bg-slate-600 px-8 py-3 text-xl text-white shadow-md transition-transform;
    }

    .btn:hover {
        @apply scale-110;
    }

    .slideUp {
        animation: slideUp forwards 0.2s ease-out;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
        opacity: 0.1;
    }

    75% {
        transform: translateY(0);
        opacity: 1;
    }
}
